.imagediv{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 5%;
}
.imagescontainer{
  height: 400px;
  width: 400px;
}
.images{
  height: 100%;
  width: 100%;
}
.search{
  border-bottom:2px solid rgb(50, 91, 50);
  width: 600px ;
  margin-top: 5%;
  margin-left:5% ;
}
#search{
  border: none;
  padding: 20px;
  width: 500px;
}

@media(max-width:800px){
  .search{
    width: 80%;
  }
  #search{
    
    width: 80%;
  }
}